::selection {
    background-color: yellow;
    color: black;
}

body {
    background-image: url(images/willian-justen-de-vasconcellos-421875-unsplash.jpg);
  
    /* Full height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
